.opensource-head {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #eee;
    margin-left: 31px;
    margin-bottom: 10px;
}
.opensource-div{
   padding: 10px 0 20px 0;
    margin-left: 31px;
    margin-bottom: 10px;
}